# Console UART
CONFIG_CONSOLE_UART_CUSTOM=y
CONFIG_CONSOLE_UART=y
CONFIG_CONSOLE_UART_CUSTOM_NUM_0=y
CONFIG_CONSOLE_UART_NUM=0
CONFIG_CONSOLE_UART_TX_GPIO=4
CONFIG_CONSOLE_UART_RX_GPIO=5
CONFIG_CONSOLE_UART_BAUDRATE=115200
